*.txt               text eol=crlf
*.bat               text eol=crlf
*.cmd               text eol=crlf
*.dsp               text eol=crlf
*.dsw               text eol=crlf
*.bpf               text eol=crlf
*.bpg               text eol=crlf
*.sln               text eol=crlf
*.opt               text eol=crlf
*.vcproj            text eol=crlf
